<div class="container-fluid d-flex justify-content-center">
<div class="col-10 mt-4">
  <h2>Temario</h2>
  <div class="row ms-0">
    <div *ngFor="let syll of syllabus; let i=index;"
         class="col-12 box me-3"
         (click)="goToSessions(i)"
         type="button">
      <div class="row p-3 align-items-center">
        <div class="col-8">
          <p class="m-0"><strong>{{syll.quarter}}</strong></p>
          <p class="m-0">{{syll.sessions_watched}}/{{syll.sessions_total}}</p>
        </div>
        <div class="col-4">
          <img src="{{syll.src}}">
        </div>
      </div>
    </div>

  </div>
</div>
</div>
