<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Antes de empezar...</h1>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-3 text-center">
      <img src="../../../assets/volume.png" alt="volume">
      <p>Asegúrate de tener el <strong>volumen activado</strong>.
      </p>
    </div>
    <div class="col-3 text-center">
      <img src="../../../assets/time.png" alt="time">
      <p>Los bits pasan automáticamente <strong>cada 2 segundos</strong>.
      </p>
    </div>
    <div class="col-3 text-center">
      <img src="../../../assets/pause.png" alt="pause">
      <p>Puedes detener el pase con la <strong>barra espaciadora</strong> o haciendo <strong>clic en la pantalla</strong>.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <a href=""><button><img src="../../../assets/play.png" alt="play">Empezar pase</button></a>
    </div>
  </div>
</div>
