<app-cards></app-cards>
<div class="container-fluid d-flex align-items-center flex-column">
  <div *ngIf="showCatchUp" class="col-10 catch-up p-4">
    <p><strong>Vuelve donde lo dejaste</strong></p>
    <p>{{currentSession.quarter}} Sesión {{currentSession.id}}, {{currentSession.subject}}</p>
    <div class="d-flex">
      <button  (click)="playSession()"
               type="button"
               autofocus
               (mouseover)="showPlay=true"
               (focus)="showPlay=true"
               (mouseout)="showPlay=false">
               <img *ngIf="showPlay" src="../../../assets/play.png">
               <img *ngIf="!showPlay" src="../../../assets/play-small-orange.png">
               Reproducción ordenada
      </button>
      <button class="mx-3"
              (mouseover)="showShuffle=true"
              (mouseout)="showShuffle=false"
              >
              <img *ngIf="showShuffle" src="../../../assets/shuffle-white.png">
              <img *ngIf="!showShuffle" src="../../../assets/shuffle.png">
              Aleatorio
      </button>
      <button (mouseover)="showNext=true"
              (mouseout)="showNext=false"
              >
              <img *ngIf="showNext" src="../../../assets/next-white.png">
              <img *ngIf="!showNext" src="../../../assets/next-orange.png">
              Siguiente sesión
      </button>
    </div>
  </div>

</div>
<app-syllabus-box></app-syllabus-box>
