<app-cards></app-cards>
<div class="container-fluid d-flex align-items-center flex-column">
  <div class="col-10 catch-up p-4">
    <p><strong>Vuelve donde lo dejaste</strong></p>
    <p>2º Trimestre - Sesión 25, Odinales, Fracciones y Decimales</p>
    <!-- <p>{{quarter}} Sesión {{session}}, {{subject}}</p> -->
    <div class="d-flex">
      <button type="button" autofocus><img src="../../../assets/play.png"> Reproducción ordenada</button>
      <button class="mx-3"><img src="../../../assets/shuffle.png">Aleatorio</button>
      <button><img src="../../../assets/stroke.png">Siguiente sesión</button>
    </div>
  </div>

</div>
<app-syllabus-box></app-syllabus-box>
